.header-image {
  height: 75px;
  margin-top: 20px;
}

.header-image img {
  max-height: 90px;
}

.header-search input {
  width: calc(100% - 50px);
  padding: 10px;
  letter-spacing: 0.03em;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.header-search img {
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .header-search {
    margin-top: 40px;
  }
}

.bottom-space {
  padding-bottom: 20px;
}

.top-space {
  padding-top: 20px;
}

.top-space-double {
  padding-top: 40px;
}

.google-input {
  padding: 13px 20px;
  border-radius: 50px;
  outline-width: 0;
  width: 482px;
  max-width: 100%;
  color: rgba(0,0,0,.87);
  border: 1px solid #dfe1e5;
}

.google-input:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.google-submit {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  text-decoration: none;
}

.no-format {
  background:none;
}

.full-size {
  display: inline-block;
  width: 100%;
}

select {
  width: auto;
}

.input-data-container {
  display: inline;
  white-space: nowrap;
  height: 50px;
  display: block;

}

.input-data-container.padding{
  padding: 10px;
}

.input-data-container input, .input-data-container select{
  border-radius: 5px;
  border: 1px solid #f5d29a;
  padding: 10px;
  margin-left: 5px;
  min-width: 150px;
  width: 100%;
}

.input-data-container input[type=button],.input-data-container input[type=submit] {
  cursor: pointer;
  background: #ffe7c1;
}

.input-data-container input[type=button]:hover,active {
  cursor: pointer;
  background: #f5d29a;
  border: 1px solid #ffca74;
}

.input-data-container input[type=submit]:hover,active {
  cursor: pointer;
  background: #f5d29a;
  border: 1px solid #ffca74;
}

.iframe {
  border: 1px solid lightgray;
  padding: 10px;
  -webkit-user-select: all;
  -moz-user-select: all;
  display: inline-block;
}

.header-title {
  color: #2a4798;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.key-search {
  padding: 14px 14px;
  width: 100px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;

}

.key-clean {
  color: #2a4798;
  padding: 4px 4px;
  border-radius: 2px;
  font-size: 19px;
  text-align: center;
}

.key-title-table, .key-status-table, .key-data-table {
  color: #000;
  font-size: 20px;
  text-align: center;
}

.key-title-table .columns {
  border: 5px solid #ced0ce;
  border-radius: 15px;
  background: #fcd800;
  padding: 10px;
}


.key-status-table .columns {
  border: 5px solid white;
  border-radius: 15px;
  background: #fcd800;
  padding: 10px;
}

.key-data-table .columns {
  border: 5px solid white;
  border-radius: 15px;
  background: white;
  padding: 10px;
}



.key-rows-table .columns {
  border: 2px solid #ced0ce;
  border-bottom: 2px solid white;
  border-radius: 8px;
  padding: 20px;
}

.action-button:hover {
  background: #bec0be;
}

.action-button:active {
  background: #aeb0ae;
  border: 2px solid #bec0be;
}

.action-button {
  cursor: pointer;
  user-select: none;
  padding: 4px;
}

.action-button img {
  width: 25px;
}

.action-field {
  font-size: 16px;
  padding: 5px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.display-key-status {
  position: fixed;
  top: calc(100%/2 - 190px);
  left: calc(100%/2 - 400px);
  background: white !important;
  height: 380px;
  width: 800px;

  -webkit-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
}

.display-background-status {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.action-status-button {
  padding: 15px 30px;
  background: #e1e1e1;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  cursor: pointer;
}

#history-content {
  overflow: auto;
  max-height: 310px;
}

.action-status-button:hover {
  background: #d1d1d1;
  border: 1px solid #c3c3c3;
}

.action-status-button:active {
  background: #c1c1c1;
  border: 1px solid #a1a1a1;
}

.flex-centered {
  display: flex;
  align-items: center;
  align-content: space-between;
  text-align: center;
  justify-content: center;
}

.act-button {
  margin: 0 20px;
}
.act-button button{
  width: 180px;
}


.display-key-history {
  position: fixed;
  top: calc(100%/2 - 300px);
  left: calc(100%/2 - 400px);
  background: white !important;
  height: 600px;
  width: 800px;

  -webkit-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
}

.display-background-history {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.give-new-status {
  font-size: 19px;
}

.display-key-update {
  position: fixed;
  top: calc(100%/2 - 225px);
  left: calc(100%/2 - 400px);
  background: white !important;
  height: 450px;
  width: 800px;

  -webkit-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 28px 6px rgba(0,0,0,0.75);
}

.display-background-update {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.select-status {
  text-align: center;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
